.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
.logo-image {
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Mantenemos la proporción */
}